.kt-abroad{
    width:100%; height:550px; margin:0 auto; background:#cccccc;
}
.kt-abroad-box{
    width:1000px; height:1000px; margin:0 auto; text-align:center;
}
.kt-abroad-box h2{
    font-size:48px; color:#333; font-weight:bolder;padding:10px 0;
}
.kt-abroad-box h1{
    font-size:16px; color:#fff; font-weight:normal;padding:5px 0; background:#ff6868;border-radius:100px; width:350px; display:block; margin:0 auto; margin-bottom:30px;
}
.abroada{
    width:240px; height:260px;border-radius:10px; background:#fcc048; padding-top:30px;float:left; margin-right:10px;box-sizing: content-box;
}
.abroadb{
    width:240px; height:260px;border-radius:10px; background:#7ad0ff; padding-top:30px;float:left; margin-right:10px;box-sizing: content-box;
}
.abroadc{
    width:240px; height:260px;border-radius:10px; background:#8bd655; padding-top:30px;float:left; margin-right:10px;box-sizing: content-box;
}
.abroadd{
    width:240px; height:260px;border-radius:10px; background:#cd91ff; padding-top:30px;float:left;box-sizing: content-box;
}
.abroada div,.abroadb div,.abroadc div,.abroadd div{
    background: rgba(255,255,255,0.6); width: 100%;height: 100%;padding-top: 30px;margin-top: -30px;border-radius: 8px;box-sizing: content-box;
}
.kt-abroadN{
    font-weight:bold; color:#fb254e; font-size:18px;
}
.kt-abroadC{
    font-size:14px; line-height:26px; color:#222; padding-bottom:5px;
}
.ab-check{
    width:200px;height: 43px;text-decoration: none;border-radius: 2px;display: block;font-family: "寰蒋闆呴粦";color: #FFF;line-height: 43px;text-align: center;font-size: 15px;margin: 0 auto; background:#272636; border:0;
}
.ab-check:hover{
    background:#fff;color: #272636;text-decoration: underline;transition: all 0.2s linear;
}
.wcgno1{
    position:fixed;left:-100%;top: 0; width: 100%;height:100%;overflow:scroll;background: rgba(0,0,0,0.5);z-index: 61542;transition: all 0.5s;
}
.wcgno1 img{
    width: 1000px;margin: auto;display: block;
}
