.lyx_center{
    width: 100%;
    height: 600px;
    margin: 0 auto;
    background: #f3f3f3;
    text-align: center;
    font-weight: bold;
}
.lyx_center h1{
    font-size: 48px;
    color: #252525;
    text-align: center;
    padding: 40px 0;
}
#lyx_table{
    width: 1000px;
    margin: 0 auto;
}