.lyx_code{
    width: 140px;
    position: fixed;
    right: 0;
    top: 40px;
    z-index: 9999;
}
.lyx_span{
    position: fixed;
    left: 0;
    top: 30%;
    width: 22px;
    height: 120px;
    line-height: 21px;
    background: #3fb3f9;
    color: #fff;
    padding: 10px 0 0 4px;
    cursor: pointer;
    z-index: 198;
}